# Exness Account Credentials Template

EXNESS_ACCOUNT_NAME=
EXNESS_SECURITY_KEY=
EXNESS_TOTP_SECRET=
EXNESS_TOTP_URI=

# Gemini API Template
GENINI3_API=

# Jules AI & Workspace Integration
JULES_API_TOKEN=
JULES_API_1=
JULES_API_2=
JULES_API_3=
GITHUB_TOKEN_1=
GITHUB_TOKEN_2=
Dropbox_api=
STREAM_NAME=
STREAM_URL=
STREAM_ID=
MEASUREMENT_ID=
