# Exness Account Credentials Template

EXNESS_ACCOUNT_NAME=
EXNESS_SECURITY_KEY=
EXNESS_TOTP_SECRET=
EXNESS_TOTP_URI=

# Gemini API Template
GENINI3_API=

# Forgejo Credentials
FORGEJO_TOKEN=
FORGEJO_REPO=
FORGEJO_URL=

# Monitoring Thresholds
CRITICAL_THRESHOLD=180.0

# AWS Credentials
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

# Jules Credentials
JULES_API=
JULES_API_TOKEN=
