JULES_API_TOKEN=<INSERT_JULES_API_TOKEN_HERE>
JULES_API=<INSERT_JULES_API_HERE>
JULES_API_2=<INSERT_JULES_API_2_HERE>
JULES_API_3="<INSERT_JULES_API_3_HERE>"
Dropbox_api=<INSERT_DROPBOX_API_KEY_HERE>
GEMINI_API_KEY=<INSERT_GEMINI_API_KEY_HERE>
GITHUB_TOKEN=<INSERT_GITHUB_TOKEN_HERE>
